/* En-tête */
header {
    color: white;
    background-color: rgb(49, 48, 48);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

h1,h2,h3,h4,h5,p {
    font-family: Arial, Helvetica, sans-serif;
} 

h3,p{
    margin: 0;
}


p{
    margin: 0 0 5px 0
}

header img {
    border-radius: 60%;
    width: 5%;
    height: auto;

}

.hero {
    flex-direction: column;
    text-align: center;
    margin: auto;

    }

.hero h2 {
    font-size: 15px;

   }
.page {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    max-width: 100%;
    margin: auto;
    gap: 20px;
}

main {
    flex: 3;

}


.experiences {
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: column;*/
    gap: 20px;
    justify-content: start;
    
}

.experience {
    background-color: yellow;
    border: 1px solid blue;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    width: 32%;
    text-align: left;
    transition: transform 0.3s ease;
}

.experience:hover {
    transform: translateY(-5px);
    /* animation */
}

aside {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    padding: 20px;
}

.competences {
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
}



.competence {
    display: flex;
    width: 100%;
}

.competence img {
    width: 15%;
    min-width: 100px;
    min-height: 100px;
    height: 15%;

}

.formations {


}

.formation {


}

.liens {


}

.lien img {
    width: 15%;
    height: 15%;

}

footer {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 20px;
    padding: 10px 0px;
}
