/* En-tête */
header {
    background-color: rgb(49, 48, 48);
    color: white;
    padding: 20px 0;
}
.hero {
    background-color: rgb(49, 48, 48);
    text-align: center;
    }

.experiences {

}

.experience {

}
